[package]
name = "pbkdf2"
version = "0.2.0"
authors = ["RustCrypto Developers"]
license = "MIT/Apache-2.0"
description = "Generic implementation of PBKDF2"
documentation = "https://docs.rs/pbkdf2"
repository = "https://github.com/RustCrypto/password-hashing"
keywords = ["crypto", "password", "hashing"]

[dependencies]
crypto-mac = "0.6"
generic-array = "0.9"
byte-tools = "0.2"

rayon = { version = "1", optional = true }

[dev-dependencies]
hmac = "0.6"
sha-1 = "0.7"
sha2 = "0.7"

[features]
default = ["std"]
parallel = ["rayon"]
std = []
