[workspace]
resolver = "2"
members = [
    "argon2",
    "balloon-hash",
    "bcrypt-pbkdf",
    "fuzz",
    "password-auth",
    "pbkdf2",
    "scrypt",
    "sha-crypt",
    "yescrypt"
]
exclude = ["benches"]

[profile.dev]
opt-level = 2
