[package]
name = "balloon-hash"
version = "0.2.0"
description = "Pure Rust implementation of the Balloon password hashing function"
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
documentation = "https://docs.rs/balloon-hash"
repository = "https://github.com/RustCrypto/password-hashes/tree/master/balloon-hash"
keywords = ["crypto", "password", "hashing"]
categories = ["cryptography", "no-std"]
readme = "README.md"
edition = "2021"
rust-version = "1.57"

[dependencies]
digest = { version = "0.10.3", default-features = false }
crypto-bigint = { version = "0.3", default-features = false, features = ["generic-array"] }

# optional dependencies
password-hash = { version = "0.4", default-features = false, optional = true }
rayon = { version = "1.5", optional = true }

[dev-dependencies]
hex-literal = "0.3"
sha2 = "0.10"

[features]
default = ["alloc", "password-hash", "rand"]
alloc = []
parallel = ["rayon", "std"]
rand = ["password-hash/rand_core"]
std = ["alloc", "password-hash/std"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
