[package]
name = "bcrypt-pbkdf"
description = "bcrypt-pbkdf password-based key derivation function"
version = "0.2.1"
authors = ["RustCrypto Developers"]
repository = "https://github.com/RustCrypto/password-hashing"
keywords = ["crypto", "password", "hashing"]
categories = ["cryptography"]
license = "MIT OR Apache-2.0"
edition = "2018"

[dependencies]
blowfish = { version = "0.5", features = ["bcrypt"] }
crypto-mac = "0.8"
pbkdf2 = { version = "0.4", default-features = false }
sha2 = { version = "0.9", default-features = false }
zeroize = { version = "1", default-features = false }

[features]
default = ["std"]
std = []
