[package]
name = "scrypt"
version = "0.12.0-pre.0"
description = "Scrypt password-based key derivation function"
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
readme = "README.md"
documentation = "https://docs.rs/scrypt"
repository = "https://github.com/RustCrypto/password-hashes/tree/master/scrypt"
keywords = ["crypto", "hashing", "password", "phf"]
categories = ["authentication", "cryptography", "no-std"]
edition = "2021"
rust-version = "1.72"

[dependencies]
pbkdf2 = { version = "=0.13.0-pre.0", path = "../pbkdf2" }
salsa20 = { version = "=0.11.0-pre", default-features = false }
sha2 = { version = "=0.11.0-pre.3", default-features = false }

# optional dependencies
password-hash = { version = "=0.6.0-pre.0", default-features = false, features = ["rand_core"], optional = true }

[dev-dependencies]
password-hash = { version = "=0.6.0-pre.0", features = ["rand_core"] }

[features]
default = ["simple", "std"]
simple = ["password-hash"]
std = ["password-hash/std"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
