[package]
name = "scrypt"
version = "0.2.0"
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
description = "Scrypt password-based key derivation function"
documentation = "https://docs.rs/scrypt"
repository = "https://github.com/RustCrypto/password-hashing"
keywords = ["crypto", "password", "hashing"]
categories = ["cryptography"]
edition = "2018"

[dependencies]
base64 = { version = "0.9", optional = true }
byte-tools = "0.3"
byteorder = { version = "1", default-features = false }
hmac = "0.8"
pbkdf2 = { version = "= 0.4.0-pre", default-features = false, path = "../pbkdf2" }
rand = { version = "0.5", optional = true }
sha2 = { version = "0.9", default-features = false }
subtle = { version = "2", default-features = false , optional = true }

[features]
default = ["include_simple"]
include_simple = ["rand", "base64", "subtle"]

[badges]
travis-ci = { repository = "RustCrypto/password-hashing" }
