name: password-auth

on:
  pull_request:
    paths:
      - ".github/workflows/password-auth.yml"
      - "argon2/**"
      - "password-auth/**"
      - "pbkdf2/**"
      - "scrypt/**"
      - "Cargo.*"
  push:
    branches: master

defaults:
  run:
    working-directory: password-auth

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.85.0 # MSRV
          - stable
    steps:
      - uses: actions/checkout@v5
      - uses: RustCrypto/actions/cargo-cache@master
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - run: cargo test
      - run: cargo test --no-default-features --features argon2
      - run: cargo test --no-default-features --features pbkdf2
      - run: cargo test --no-default-features --features scrypt
      - run: cargo test --all-features

  wasm:
    env:
      RUSTFLAGS: --cfg getrandom_backend="wasm_js"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.85.0 # MSRV
          - stable
    steps:
      - uses: actions/checkout@v5
      - uses: RustCrypto/actions/cargo-cache@master
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          targets: wasm32-unknown-unknown
      - run: cargo build --target wasm32-unknown-unknown --no-default-features --features wasm_js,argon2
      - run: cargo build --target wasm32-unknown-unknown --no-default-features --features wasm_js,pbkdf2
      - run: cargo build --target wasm32-unknown-unknown --no-default-features --features wasm_js,scrypt
      - run: cargo build --target wasm32-unknown-unknown --no-default-features --features wasm_js,argon2,pbkdf2,scrypt
