name: pbkdf2

on:
  pull_request:
    paths:
      - "pbkdf2/**"
      - "Cargo.*"
  push:
    branches: master

defaults:
  run:
    working-directory: pbkdf2

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.85.0 # MSRV
          - stable
        target:
          - thumbv7em-none-eabi
          - wasm32-unknown-unknown
    steps:
      - uses: actions/checkout@v6
      - uses: RustCrypto/actions/cargo-cache@master
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          targets: ${{ matrix.target }}
      - run: cargo build --target ${{ matrix.target }} --no-default-features

  minimal-versions:
    if: false # disabled while using pre-releases
    uses: RustCrypto/actions/.github/workflows/minimal-versions.yml@master
    with:
      working-directory: ${{ github.workflow }}

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.85.0 # MSRV
          - stable
    steps:
      - uses: actions/checkout@v6
      - uses: RustCrypto/actions/cargo-cache@master
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - uses: RustCrypto/actions/cargo-hack-install@master
      - run: cargo hack check --feature-powerset --no-dev-deps
      - run: cargo hack test --feature-powerset --exclude-features default,getrandom,hmac,kdf,password-hash,rand_core
      - run: cargo test --no-default-features --features getrandom
      - run: cargo test --no-default-features --features hmac
      - run: cargo test --no-default-features --features kdf
      - run: cargo test --no-default-features --features password-hash
      - run: cargo test --no-default-features --features rand_core
      - run: cargo test --all-features --release
