name: readme

on:
  pull_request:
    paths:
      - ".github/workflows/readme.yml"
      - ".readme"
      - "Cargo.lock"
      - "README.md"
  push:
    branches: master

defaults:
  run:
    working-directory: ".readme"

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: RustCrypto/actions/cargo-cache@master
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - run: cargo test
