name: yescrypt

on:
  pull_request:
    paths:
      - "yescrypt/**"
      - "Cargo.*"
  push:
    branches: master

defaults:
  run:
    working-directory: yescrypt

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"

jobs:
  minimal-versions:
    uses: RustCrypto/actions/.github/workflows/minimal-versions.yml@master
    with:
      working-directory: ${{ github.workflow }}

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          # 32-bit Linux
          - target: i686-unknown-linux-gnu
            rust: 1.71.0 # MSRV
            deps: sudo apt update && sudo apt install gcc-multilib
          - target: i686-unknown-linux-gnu
            rust: stable
            deps: sudo apt update && sudo apt install gcc-multilib

          # 64-bit Linux
          - target: x86_64-unknown-linux-gnu
            rust: 1.71.0 # MSRV
          - target: x86_64-unknown-linux-gnu
            rust: stable
    steps:
      - uses: actions/checkout@v4
      - uses: RustCrypto/actions/cargo-cache@master
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          targets: ${{ matrix.target }}
      - run: ${{ matrix.deps }}
      - run: cargo test

# TODO(tarcieri): 32-bit support
#  cross:
#    strategy:
#      matrix:
#        include:
#          - target: powerpc-unknown-linux-gnu
#            rust: 1.60.0 # MSRV
#          - target: powerpc-unknown-linux-gnu
#            rust: stable
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v4
#      - run: ${{ matrix.deps }}
#      - uses: dtolnay/rust-toolchain@master
#        with:
#          toolchain: ${{ matrix.rust }}
#          targets: ${{ matrix.target }}
#      - uses: RustCrypto/actions/cross-install@master
#      - run: cross test --release --target ${{ matrix.target }}
